<div class="contenedorInputChat">
    <div>
    <input type="text" name="mensaje" id="nombre" class="nombre" placeholder="Ingrese su mail">
    </div>
    <div>
        <input type="text" name="mensaje" id="mensaje" class="mensaje" placeholder="Ingrese su mensaje">
    </div>
    <button class="buttonChat" onclick="nuevoMensaje()">Enviar</button>
</div>