<div class="contenedorInputChat">
    <h2 style="color:white"> Comuniquese con nuestros asesores por el chat de la plataforma!</h2>
    <div>
    <input type="text" name="nombre" id="nombre" class="nombre" placeholder="Ingrese su mail">
    </div>
    <div>
        <input type="text" name="mensaje" id="mensaje" class="mensaje" placeholder="Ingrese su mensaje">
    </div>
    <button class="buttonChat" onclick="nuevoMensaje()">Enviar</button>
    <div id="chatVisual"></div>
</div>