<div class="contendorFormulario">
    <h1 class="tituloFormulario">Formulario</h1>
    <div class="contendorFormulario2">
        <form class="contendorFormulario" action="/productos" method="post" enctype="multipart/form-data">
            <div class="contendorInputTitulo">
                <div>
                    <label class="labelTitulo">Titulo:</label><input class="inputTitulo" type="text" placeholder="Titulo" name="titulo">
                </div>
            </div>
            <div class="contendorInputPrecio">
                <div>
                    <label class="labelPrecio">Precio:</label><input class="inputPrecio" type="text" placeholder="Precio" name="precio">
                </div>
            </div>
            <div class="contendorInputImagen">
                <div>
                    <label class="labelImagen">Imagen:</label><input class="inputImagen" type="file" placeholder="imagen" name="imagen">
                </div>
            </div>
            <button class="boton">Enviar Datos</button>
        </form>
    </div>
</div>