<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
    <div>
        <h1>Formulario</h1>
        <div>
            <form action="/productos" method="post">
                <div>
                    <div>
                        Titulo
                    </div>
                    <input type="text" placeholder="Titulo" name="titulo">
                </div>
                <div>
                    <div>
                        Precio
                    </div>
                    <input type="text" placeholder="Precio" name="precio">
                </div>
                <button>Enviar Datos</button>
            </form>
        </div>
        <!-- <div>
            <h1>Historial</h1>
            <% if(contentAllUse.length > 0){ %>  //Hola profe, esta parte de aca me presento problemas porque me sale un error que dice
            <div>                                //"No se encuentra la etiqueta de cierre de "<%"."  
                <table>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Id</th>
                    </tr>
                    <% for (const producto of productos){ %>
                    <tr>
                        <td><%=producto.titulo%></td>
                        <td><%=producto.precio%></td>
                        <td><%=producto.id%></td>
                    </tr>
                <%};%>
                </table>
            </div>
            <%}else{&>
                <div><h4>No hay productos</h4></div>
                <%};%>
        </div> -->
    </div>
</body>
</html>